* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}
.section-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
/* ===== NAVBAR STYLE ===== */
header {
    background: #FF9D23;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav_logo .logo_text {
    color: #3B6790;
    font-size: 2rem;
    font-weight: 600;
}

#logo_text_style {
    color: #DBDBDC;
}

.navbar .nav_menu .nav_link {
    color: #3B6790;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1.12rem;
    transition: 0.3s ease;
    font-weight: 700;
}

.navbar .nav_menu .nav_link:hover ,#about-btn {
    background: #3B6790;
    color: #DBDBDC;
}

.navbar .nav_menu {
    display: flex;
    gap: 10px;
}

.nav_btn {
    padding: 8px 20px;
    font-size: 1.12rem;
    border-radius: 6px;
    font-weight: 700;
    transition: 0.3s ease;
    color: #3B6790;
    border: 1px solid #3B6790;
    background: #DBDBDC;
}

.nav_register_btn:hover {
    background: #FF9D23;
    color: #3B6790;
}

.nav_login_btn:hover {
    color: #DBDBDC;
    background: #3B6790;
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* About HEADING STYLE */
.about-section {
    background: #f8f9fa;
    text-align: center;
    padding: 150px 20px 40px;
    min-height: 100vh;

}

.about-section h1 {
    font-size: 2.5rem;
    color: #3B6790;
    font-weight: 700;
    margin-bottom: 15px;
}

.about-section p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

/* ABOUT US SECTION */
.about-container {
    place-items: center;
    width: 100%;
    min-height: 70vh;
    display: grid;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 60px;
    padding: 35px 0;
}

.contentLeft,
.contentRight {
    width: 100%;
}

.contentLeft .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.contentLeft .row .imgWrapper {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.contentLeft .row .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: 0.3s ease;
}

.contentLeft .row .imgWrapper:hover img {
    transform: scale(1.5);
}

.contentLeft .row .imgWrapper:nth-child(odd) {
    transform: translateY(-20px);
}

.contentLeft .row .imgWrapper:nth-child(even) {
    transform: translateY(20px);
}

.contentRight .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.contentRight .content h4 {
    font-size: 22px;
    font-weight: 400;
    color: #d35400;
}

.contentRight .content p {
    font-size: 16px;
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
    text-align: start;
}


/* CORE VALUE SECTION */
.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding: 80px 0;
}

.service-box {
    display: flex;
    align-items: flex-start;
    width: 45%;
    padding-top: 20px;
}

.icon {
    font-size: 24px;
    background: #ddd;
    padding: 15px;
    border-radius: 50%;
    margin-right: 15px;
}

.icon:hover {
    background: #3B6790;
    color: #fff;
}

.service-text h3 {
    margin: 0;
    font-size: 20px;
    color: #d35400;
    font-weight: 500;
}

.service-text p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #343434;
}

/* CLIENT SECTION */
.clients-section {
    text-align: center;
    padding: 50px;
}

.clients-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.clients-logos img {
    max-width: 150px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.clients-logos img:hover {
    filter: grayscale(0%);
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .contentLeft .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .contentLeft .row .imgWrapper {
        height: 150px;
    }

    .contentRight .content h4 {
        font-size: 18px;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .icon {
        margin: 0 auto 10px;
    }
}